/* -------------------------------------------------- */
/* Fonts
/* -------------------------------------------------- */





/* -------------------------------------------------- */
/* Roboto Condensed
/* -------------------------------------------------- */

@font-face {
	font-family: 'RobotoCondensed-Regular';
	src: url('../fonts/RobotoCondensed-Regular.eot');
	src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
		 url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
		 url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'),
		 url('../fonts/RobotoCondensed-Regular.otf') format('opentype'),
		 url('../fonts/RobotoCondensed-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoCondensed-Italic';
	src: url('../fonts/RobotoCondensed-Italic.eot');
	src: url('../fonts/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/RobotoCondensed-Italic.woff2') format('woff2'),
		 url('../fonts/RobotoCondensed-Italic.woff') format('woff'),
		 url('../fonts/RobotoCondensed-Italic.ttf') format('truetype'),
		 url('../fonts/RobotoCondensed-Italic.otf') format('opentype'),
		 url('../fonts/RobotoCondensed-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoCondensed-Light';
	src: url('../fonts/RobotoCondensed-Light.eot');
	src: url('../fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
		 url('../fonts/RobotoCondensed-Light.woff') format('woff'),
		 url('../fonts/RobotoCondensed-Light.ttf') format('truetype'),
		 url('../fonts/RobotoCondensed-Light.otf') format('opentype'),
		 url('../fonts/RobotoCondensed-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoCondensed-LightItalic';
	src: url('../fonts/RobotoCondensed-LightItalic.eot');
	src: url('../fonts/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
		 url('../fonts/RobotoCondensed-LightItalic.woff') format('woff'),
		 url('../fonts/RobotoCondensed-LightItalic.ttf') format('truetype'),
		 url('../fonts/RobotoCondensed-LightItalic.otf') format('opentype'),
		 url('../fonts/RobotoCondensed-LightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}





/* -------------------------------------------------- */
/* Oswald
/* -------------------------------------------------- */

@font-face {
	font-family: 'Oswald-Regular';
	src: url('../fonts/Oswald-Regular.eot');
	src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Oswald-Regular.woff2') format('woff2'),
		 url('../fonts/Oswald-Regular.woff') format('woff'),
		 url('../fonts/Oswald-Regular.ttf') format('truetype'),
		 url('../fonts/Oswald-Regular.otf') format('opentype'),
		 url('../fonts/Oswald-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-RegularItalic';
	src: url('../fonts/Oswald-RegularItalic.eot');
	src: url('../fonts/Oswald-RegularItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Oswald-RegularItalic.woff2') format('woff2'),
		 url('../fonts/Oswald-RegularItalic.woff') format('woff'),
		 url('../fonts/Oswald-RegularItalic.ttf') format('truetype'),
		 url('../fonts/Oswald-RegularItalic.otf') format('opentype'),
		 url('../fonts/Oswald-RegularItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-Medium';
	src: url('../fonts/Oswald-Medium.eot');
	src: url('../fonts/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Oswald-Medium.woff2') format('woff2'),
		 url('../fonts/Oswald-Medium.woff') format('woff'),
		 url('../fonts/Oswald-Medium.ttf') format('truetype'),
		 url('../fonts/Oswald-Medium.otf') format('opentype'),
		 url('../fonts/Oswald-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-MediumItalic';
	src: url('../fonts/Oswald-MediumItalic.eot');
	src: url('../fonts/Oswald-MediumItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Oswald-MediumItalic.woff2') format('woff2'),
		 url('../fonts/Oswald-MediumItalic.woff') format('woff'),
		 url('../fonts/Oswald-MediumItalic.ttf') format('truetype'),
		 url('../fonts/Oswald-MediumItalic.otf') format('opentype'),
		 url('../fonts/Oswald-MediumItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-Heavy';
	src: url('../fonts/Oswald-Heavy.eot');
	src: url('../fonts/Oswald-Heavy.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Oswald-Heavy.woff2') format('woff2'),
		 url('../fonts/Oswald-Heavy.woff') format('woff'),
		 url('../fonts/Oswald-Heavy.ttf') format('truetype'),
		 url('../fonts/Oswald-Heavy.otf') format('opentype'),
		 url('../fonts/Oswald-Heavy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-HeavyItalic';
	src: url('../fonts/Oswald-HeavyItalic.eot');
	src: url('../fonts/Oswald-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Oswald-HeavyItalic.woff2') format('woff2'),
		 url('../fonts/Oswald-HeavyItalic.woff') format('woff'),
		 url('../fonts/Oswald-HeavyItalic.ttf') format('truetype'),
		 url('../fonts/Oswald-HeavyItalic.otf') format('opentype'),
		 url('../fonts/Oswald-HeavyItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-DemiBold';
	src: url('../fonts/Oswald-DemiBold.eot');
	src: url('../fonts/Oswald-DemiBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Oswald-DemiBold.woff2') format('woff2'),
		 url('../fonts/Oswald-DemiBold.woff') format('woff'),
		 url('../fonts/Oswald-DemiBold.ttf') format('truetype'),
		 url('../fonts/Oswald-DemiBold.otf') format('opentype'),
		 url('../fonts/Oswald-DemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-Demi-BoldItalic';
	src: url('../fonts/Oswald-Demi-BoldItalic.eot');
	src: url('../fonts/Oswald-Demi-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Oswald-Demi-BoldItalic.woff2') format('woff2'),
		 url('../fonts/Oswald-Demi-BoldItalic.woff') format('woff'),
		 url('../fonts/Oswald-Demi-BoldItalic.ttf') format('truetype'),
		 url('../fonts/Oswald-Demi-BoldItalic.otf') format('opentype'),
		 url('../fonts/Oswald-Demi-BoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}