/* -------------------------------------------------- */
/* Overrides - Bootstrap
/* -------------------------------------------------- */

$screen-sm: 480px;
$screen-md: 880px;
$screen-lg: 1280px;

$container-sm: 400px;
$container-md: 800px;
$container-lg: 1200px;





/* -------------------------------------------------- */
/* Includes - Vendor - Bootstrap
/* -------------------------------------------------- */

@import 'vendor/bootstrap/variables';
@import 'vendor/bootstrap/mixins';
@import 'vendor/bootstrap/normalize';
@import 'vendor/bootstrap/grid';
@import 'vendor/bootstrap/tables';





/* -------------------------------------------------- */
/* Includes - General
/* -------------------------------------------------- */

@import 'variables';
@import 'mixins';
@import 'helpers';
@import 'fonts';
@import 'overrides';
@import 'general';
@import 'structure';
@import 'blocks';
@import 'animations';